<div>
    <h1>Issue list</h1>
    <div>
        <app-status-filter></app-status-filter>
    </div>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Place</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <!--
                ez az if nem muszáj, mert ha üres az issues,
                akkor úgysem fog megjelenni egy sor sem.
                Csak az ng-container szemléltetése miatt van itt.
            -->
            <ng-container
                *ngIf="issueService.filteredIssues.length > 0"
            >
                <tr
                    *ngFor="let issue of issueService.filteredIssues"
                    [routerLink]="['/', 'issues', issue.id]"
                >
                    <td>{{ issue.title }}</td>
                    <td>{{ issue.place }}</td>
                    <td>{{ issue.status }}</td>
                </tr>
            </ng-container>
            <tr
                *ngIf="issueService.filteredIssues.length === 0"
            >
                <td
                    colspan="3"
                >No issues</td>
            </tr>
        </tbody>
    </table>
</div>
