<div>
    <div>
        <span>Title:</span>
        <span>{{ issue?.title }}</span>
    </div>
    <div>
        <span>Creation date:</span>
        <span>{{ issue?.createdAt | date:'yyyy.MM.dd.' }}</span>
    </div>
    <div>
        <span>Status:</span>
        <span>{{ issue?.status }}</span>
    </div>
    <div>
        <span>Place:</span>
        <span>{{ issue?.place }}</span>
    </div>
    <div>
        <span>Description:</span>
        <span>{{ issue?.description }}</span>
    </div>
    <div>
        <button
            mat-raised-button
            color="primary"
            (click)="editIssue()"
            [appRole]="[UserRole.Admin]"
        >Edit</button>
    </div>
    <div>
        <ul>
            <li *ngFor="let message of issue.messages">
                {{ message.body }}
            </li>
        </ul>
    </div>
</div>
